body {
    background-color: lightblue;
}

.awal {
    padding-bottom: 100px;
    padding-left: 400px;
}

a {
    color: black;
    font-size: .8em;
    padding-left: 40px;
    
}

#logo {
    padding-left: 200px;
}

#a1 {
    font-family: 'Helvetica-Bold';
    font-size: 1.4em;
    color: #0f2236;
    border-bottom: solid 5px transparent;
}

#a1:link{
    color: black;
}

#a1:hover {
    color: red;
}